<div class="action-bar" ng-show="selected !== null">
  <a class="file-name">{{selected.name}}</a>
  <a>Share link <span class="glyphicon glyphicon-link"></span></a>
  <a>Download <span class="glyphicon glyphicon-cloud-download"></spain></a>
  <a>Delete <span class="glyphicon glyphicon-remove-circle"></span><a>
</div>

<div class="filesMain" ng-file-drop="onFileSelect($files)">
  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="filesDraggedOver"
        ng-show="dropSupported">
    <table class="table">
      <thead>
        <th>Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="file in getFiles()" ng-click="setSelected(file)" ng-class="{fileSelected: selected === file}">
          <td><a ng-click="download(file)">{{file.name}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
    <p>HTML5 Drop File is not supported!</p>
  </div>
</div>
