<div class='container-fluid'>
  <h1>Carton</h1>
  <br />
  <div class='login-box'>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
          <input type="email" class="form-control" id="name", ng-model="data.username" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
          <input type="password" class="form-control" id="pass1" ng-model="data.password1" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
          <input type="password" class="form-control" id="pass2" ng-model="data.password2" placeholder="Confirm password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <button type="submit" class="btn btn-primary btn-block" ng-click="register(data)">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
